# Ganti sesuai konfigurasi PostgreSQL lokal kamu
DATABASE_URL="postgresql://postgres:PASSWORD_KAMU@localhost:5432/lms_db?schema=public"

JWT_ACCESS_SECRET="ganti-dengan-random-string-yang-panjang"
JWT_ACCESS_EXPIRES="15m"
JWT_REFRESH_SECRET="ganti-dengan-random-string-yang-berbeda"
JWT_REFRESH_EXPIRES="7d"

PORT=3000
